.div1 {
	float:left
}
.input {
	width: 300px; 
	border: 1px solid #5d7c29; 
	padding: 4px; 
	color: #FFFFFF;
	background: #395015;}
.bc {
	width: 80px;
	height: 20px;
	margin-left: 15px;
}
#vCode {
	margin-left: 70px;
	width: 150px; 
	height:45px;
}
#verifyCode {
	width: 300px;
}
label.error {
	color: #cc3300;
}
#submit{
	margin-left: 70px;
	width: 150px; 
}